<p>Add Student</p>
<label>Id:</label>
<input [(ngModel)]="nstudent.Id">
<br>
<br>
<label>Name:</label>
<input [(ngModel)]="nstudent.name">
<br>
<br>
<label>Age:</label>
<input [(ngModel)]="nstudent.age">
<br>
<br>
<button (click)="Add()"> Add Student</button>
















<!--Day2-->
<!--<h1>student</h1>
<label >Id :</label>
<input type="text" (keyup.enter)="changeId($event.target)"
(blur)="changeId($event.target)">{{std.Id}}
<br>
<label>Name :</label>
<input type="text" (keyup.enter)="changeName($event.target)"
(blur)="changeName($event.target)">{{std.name}}
<br>
<label>Age :</label>
<input type="text" (keyup.enter)="changeAge($event.target)"
(blur)="changeAge($event.target)">{{std.age}}
<input [(ngModel)]="title">{{title}}
<br>

<button>Send</button>-->
