<h3>List Of Courses</h3>
<div>
  <a [routerLink]="['/courses','add']" class="btn btn-info">Add Course</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"> #</th>
              <th scope="col" >Courseid</th>
              <th scope="col" >CourseName</th>
              <th scope="col" >LectHours</th>
              <th scope="col">LabsHour</th>
              <th>Buttons</th>
    </tr>

  </thead>
  <tbody>
    <tr class="" *ngFor="let item of courses ;let i=index">
      <td>{{i}}</td>
        <td scope="row">{{item.courseid}}</td>
        <td >{{item.courseName}}</td>
        <td>{{item.lectHours}}</td>
        <td>{{item.labsHour}}</td>
        <td>
        <!-- <button (click)="DetailsId=item.Courseid">Details</button>-->
<a [routerLink]="['/courses','details',item.courseid]" class="btn btn-info">Details</a> |
<a [routerLink]="['/courses','update',item.courseid]" class="btn btn-info">Update</a>|
<a [routerLink]="['/courses','delete',item.courseid]" class="btn btn-info">Delete</a>
        </td>
    </tr>
</tbody>
</table>
<!--<app-coursedetails [Courseid]="DetailsId"></app-coursedetails>-->
<router-outlet></router-outlet>
